body{
    margin: 0 auto;
    padding: 0 auto;
    background: #000000;
}

#myCanvas{
    margin: 0 auto;
    padding: 0 auto;
    width:800px;
    height:600px;
    border: 0px solid black;
    background: #0d3642; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #0d3642 0%, #000000 68%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#0d3642), color-stop(68%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #0d3642 0%,#000000 68%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #0d3642 0%,#000000 68%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #0d3642 0%,#000000 68%); /* IE10+ */
    background: radial-gradient(ellipse at center, #0d3642 0%,#000000 68%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d3642', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#myCanvas2{
    margin: 0 auto;
    padding: 0 auto;
    width:800px;
    height:300px;
    border: 0px solid black;
    background: #0d3642; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #0d3642 0%, #000000 68%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#0d3642), color-stop(68%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #0d3642 0%,#000000 68%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #0d3642 0%,#000000 68%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #0d3642 0%,#000000 68%); /* IE10+ */
    background: radial-gradient(ellipse at center, #0d3642 0%,#000000 68%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d3642', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}